/* Universal */
body {
  overflow-x: hidden;
}


/* Navbar */
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .active .nav-link  {
  border-left: 1px white solid;
}

.navbar-brand {
  font-size: 1.3rem;
}

/* Carousel slider */
.carousel-item {
  height: 450px;

}

.carousel-image-1 {
  background-image: url(../img/image1.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background-image: url(../img/image2.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background-image: url(../img/image3.jpg);
  background-size: cover;
}


/* Home Heading */
#home-heading {
  position: relative;
  min-height: 200px;
  background-image: url(../img/lights.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dark-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0, 0.7);
}

@media (max-width: 770px) {
  #home-heading .container {
    margin-top: 2rem;
  }
}

@media (max-width: 399px) {
  #home-heading .container {
    margin-top: 1rem;
  }
}


/* home-icons */
#home-icons a {
  text-decoration: none;
}

#home-icons i {
  color: #343a40;
}

/* Video section */
#video-play {
  position: relative;
  min-height: 200px;
  background-image: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#video-play a {
  color: white;
}


/* Photo Gallery */
.zoom {
  width: 260px;
  height: 260px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.zoom:hover {
  width: 360px;
  height: 360px;
}

@media(max-width: 1200px) {
  .zoom {
    width: 200px;
    height: 200px;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }

  .zoom:hover {
    width: 280px;
    height: 280px;
  }
}

@media(max-width: 990px) {
  .zoom {
    width: 160px;
    height: 160px;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }

  .zoom:hover {
    width: 230px;
    height: 230px;
  }
}


/* Footer */
#main-footer {
  background-color: black;
}


/* Page header */
#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 40px;
}

/* About section */
.about-img {
  width: 400px;
  height: 350px;
  margin-top: -50px;
}




/* Services */
#services .col-md-4 {
  margin-bottom: 2rem;
}

#services .card-footer {
  padding-bottom: 0;
}


/* FAQ */
#faq .card {
  background-color: #333;
}

#faq a {
  color: white;
  text-decoration: none;
}
